<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 수정</title>
</head>
<body>
<h1>✏ 게시글 수정</h1>
<form th:action="@{'/posts/' + ${post.id}}" method="post" th:object="${post}">
    <div>
        제목:
        <input type="text" th:field="*{title}">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>

    <div>
        작성자:
        <span th:text="${post.author.username}"></span>
        <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
    </div>

    <div>
        내용:
        <textarea th:field="*{content}" rows="10" cols="50"></textarea>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
    </div>

    <button type="submit">수정 저장</button>
</form>
<a th:href="@{/posts}">목록으로</a>
</body>
</html>