<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <style>
        .author{
            margin-left:50px;
        }
    </style>
</head>
<body>
    <h1>게시글 목록</h1>
    <form th:action="@{/posts}" method="get">
        <input type="text" name="keyword" placeholder="제목 검색" th:value="${keyword}">
        <button type="submit">검색</button>
    </form>

    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/posts/new}">새 게시글 작성</a>
    </div>

    <hr>
<ul>
    <li th:each="post: ${postPage.content}">
        <a th:href="@{'/posts/'+${post.id}}">
            <strong th:text="${post.title}">제목</strong>
        </a>
        <span class="author" th:text="${post.author.nickname}"></span>


        <span th:text="${#temporals.format(post.createdAt,'HH:mm')}"></span>
    </li>
</ul>


<div>
    <span th:if="${currentPage>0}">
        <a href="@{/posts(page=${currentPage - 1})}">이전 페이지</a>
    </span>
    <span th:each="pageNum: ${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{/posts(page=${pageNum})}" th:text="${pageNum + 1}"
           th:classappend="${pageNum==currentPage}?'active':''">1</a>
    </span>
    <span th:if="${currentPage < totalPages - 1}">
        <a href="@{/posts(page=${currentPage + 1})}">다음 페이지</a>
    </span>
</div>


</body>
</html>